name: smart-med-guard

services:
    website-development:
        container_name: smart-med-guard-website-development

        profiles:
            - development

        build:
            context: ./website

            target: base

        env_file:
            - .env

        environment:
            - NEXT_PUBLIC_SERVER_URL=${SERVER_URL}
            - NEXT_PUBLIC_SERVER_WEBSOCKET_URL=${SERVER_WEBSOCKET_URL}
            - NEXT_PUBLIC_SERVER_API_KEY=${SERVER_API_KEY}

        ports:
            - ${WEBSITE_PORT}:${WEBSITE_PORT}

        depends_on:
            server-development:
                condition: service_healthy

        volumes:
            - ./website/src:/app/src:ro
            - ./website/public:/app/public:ro

        command:
            ["pnpm", "run", "dev", "-H", "0.0.0.0", "-p", "${WEBSITE_PORT}"]

        restart: unless-stopped

        networks:
            - smart-med-guard-network

    website-production:
        container_name: smart-med-guard-website-production

        profiles:
            - production

        build:
            context: ./website

            target: production

            args:
                - NEXT_PUBLIC_SERVER_URL=${SERVER_URL}
                - NEXT_PUBLIC_SERVER_WEBSOCKET_URL=${SERVER_WEBSOCKET_URL}
                - NEXT_PUBLIC_SERVER_API_KEY=${SERVER_API_KEY}

        env_file:
            - .env

        environment:
            - NEXT_PUBLIC_SERVER_URL=${SERVER_URL}
            - NEXT_PUBLIC_SERVER_WEBSOCKET_URL=${SERVER_WEBSOCKET_URL}
            - NEXT_PUBLIC_SERVER_API_KEY=${SERVER_API_KEY}

        ports:
            - ${WEBSITE_PORT}:${WEBSITE_PORT}

        depends_on:
            server-production:
                condition: service_healthy

        restart: always

        networks:
            - smart-med-guard-network

    server-development:
        container_name: smart-med-guard-server-development

        profiles:
            - development

        build:
            context: ./server

            target: development

        env_file:
            - .env

        environment:
            - LOG_LEVEL=${SERVER_LOG_LEVEL}
            - ENVIRONMENT=development
            - HOST=${SERVER_HOST}
            - PORT=${SERVER_PORT}
            - URL=${SERVER_URL}
            - API_KEY=${SERVER_API_KEY}
            - BCRYPT_SALT_ROUNDS=${SERVER_BCRYPT_SALT_ROUNDS}
            - JWT_SECRET=${SERVER_JWT_SECRET}
            - WEBSOCKET_PORT=${SERVER_WEBSOCKET_PORT}
            - MQTT_HOST=${MQTT_HOST}
            - MQTT_PORT=${MQTT_PORT}
            - POSTGRES_URL=${POSTGRES_URL}

        ports:
            - ${SERVER_PORT}:${SERVER_PORT}
            - ${SERVER_WEBSOCKET_PORT}:${SERVER_WEBSOCKET_PORT}

        depends_on:
            mqtt:
                condition: service_started

            database-development:
                condition: service_healthy

        volumes:
            - ./server/src:/app/src:ro

        restart: unless-stopped

        networks:
            - smart-med-guard-network

        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "wget --header='x-api-key: ${SERVER_API_KEY}' -qO- http://0.0.0.0:${SERVER_PORT} || exit 1",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

    server-production:
        container_name: smart-med-guard-server-production

        profiles:
            - production

        build:
            context: ./server

            target: production

        env_file:
            - .env

        environment:
            - LOG_LEVEL=${SERVER_LOG_LEVEL}
            - ENVIRONMENT=production
            - HOST=${SERVER_HOST}
            - PORT=${SERVER_PORT}
            - URL=${SERVER_URL}
            - API_KEY=${SERVER_API_KEY}
            - BCRYPT_SALT_ROUNDS=${SERVER_BCRYPT_SALT_ROUNDS}
            - JWT_SECRET=${SERVER_JWT_SECRET}
            - WEBSOCKET_PORT=${SERVER_WEBSOCKET_PORT}
            - MQTT_HOST=${MQTT_HOST}
            - MQTT_PORT=${MQTT_PORT}
            - POSTGRES_URL=${POSTGRES_URL}

        ports:
            - ${SERVER_PORT}:${SERVER_PORT}
            - ${SERVER_WEBSOCKET_PORT}:${SERVER_WEBSOCKET_PORT}

        depends_on:
            mqtt:
                condition: service_started

            database-production:
                condition: service_healthy

        restart: always

        networks:
            - smart-med-guard-network

        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "wget --header='x-api-key: ${SERVER_API_KEY}' -qO- http://0.0.0.0:${SERVER_PORT} || exit 1",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

    mqtt-test-development:
        container_name: smart-med-guard-mqtt-test-development

        profiles:
            - development

        build:
            context: ./mqtt-test
            target: development

        env_file:
            - .env

        environment:
            - MQTT_HOST=${MQTT_HOST}
            - MQTT_PORT=${MQTT_PORT}

        depends_on:
            server-development:
                condition: service_healthy

        volumes:
            - ./mqtt-test/src:/app/src:ro

        restart: unless-stopped

        networks:
            - smart-med-guard-network

    mqtt:
        image: eclipse-mosquitto:latest

        container_name: smart-med-guard-mqtt

        profiles:
            - development
            - production

        env_file:
            - .env

        ports:
            - ${MQTT_PORT}:${MQTT_PORT}

        volumes:
            - ./mqtt/config:/mosquitto/config
            - ./mqtt/data:/mosquitto/data
            - ./mqtt/log:/mosquitto/log

        restart: always

        networks:
            - smart-med-guard-network

    prisma-studio-development:
        container_name: smart-med-guard-prisma-studio-development

        profiles:
            - development

        build:
            context: ./server

            target: base

        env_file:
            - .env

        environment:
            - POSTGRES_URL=${POSTGRES_URL}

        ports:
            - ${PRISMA_STUDIO_PORT}:${PRISMA_STUDIO_PORT}

        depends_on:
            server-development:
                condition: service_healthy

        command:
            ["pnpm", "run", "prisma:studio", "--port", "${PRISMA_STUDIO_PORT}"]

        restart: unless-stopped

        networks:
            - smart-med-guard-network

    prisma-studio-production:
        container_name: smart-med-guard-prisma-studio-production

        profiles:
            - production

        build:
            context: ./server

            target: base

        env_file:
            - .env

        environment:
            - POSTGRES_URL=${POSTGRES_URL}

        ports:
            - ${PRISMA_STUDIO_PORT}:${PRISMA_STUDIO_PORT}

        depends_on:
            server-production:
                condition: service_healthy

        command:
            ["pnpm", "run", "prisma:studio", "--port", "${PRISMA_STUDIO_PORT}"]

        restart: always

        networks:
            - smart-med-guard-network

    database-development:
        image: postgres:latest

        container_name: smart-med-guard-database-development

        profiles:
            - development

        env_file:
            - .env

        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}

        ports:
            - ${POSTGRES_PORT}:5432

        volumes:
            - smart_med_guard_postgres_data:/var/lib/postgresql/data

        networks:
            - smart-med-guard-network

        restart: unless-stopped

        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

    database-production:
        image: postgres:latest

        container_name: smart-med-guard-database-production

        profiles:
            - production

        env_file:
            - .env

        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}

        ports:
            - ${POSTGRES_PORT}:5432

        volumes:
            - smart_med_guard_postgres_data:/var/lib/postgresql/data

        networks:
            - smart-med-guard-network

        restart: always

        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    smart_med_guard_postgres_data:

networks:
    smart-med-guard-network:
        name: "smart-med-guard-network"

        driver: bridge

        driver_opts:
            com.docker.network.bridge.enable_ipv6: "false"
